h1 {
    font-family: cursive;
    font-size: 30px;
}
  
body {
    
 background-color: rgb(167, 168, 62);
 margin: 10px;
}
  
#meme-canvas {
    width: 450px;
}

#center{
    max-width: 500px;
    margin: auto;
    padding: 10px;
}

